<div class="main-container">
    <mat-toolbar color="primary" class="header">
      <mat-toolbar-row>
        <span>Medical Clinic</span>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="logout()">
          Log Out
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #snav mode="side" class="sidenav" opened="true">
        <app-home-nav></app-home-nav>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
