<div class="main-container">
  <mat-toolbar color="primary" class="header">
    <div class="left">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="app-title">Integration dashboard</h1>
    </div>
    <div class="right">
      <button mat-stroked-button (click)="logout()">Log Out</button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side" class="sidenav" opened>
      <app-int-nav></app-int-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>