<h1>Schedule your appointment.</h1>

<mat-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Pick a date</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Pick a date</mat-label>
        <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="firstCtrl" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Pick the doctors branch of medicine you need">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Doctor branch</mat-label>
        <mat-select formControlName="secondCtrl">
          <mat-option *ngFor="let docBr of docBrs" [value]="docBr.value">
                {{docBr.viewValue}}
          </mat-option>
        </mat-select>
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" label="Pick the doctor">
    <form [formGroup]="thirdFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Doctor</mat-label>
        <mat-select formControlName="thirdCtrl">
          <mat-option *ngFor="let doctor of doctors" [value]="doctor.value">
                {{doctor.viewValue}}
          </mat-option>
        </mat-select>
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup" label="Schedule your appointment">
    <form [formGroup]="fourthFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Appointment</mat-label>
        <mat-select formControlName="fourthCtrl">
          <mat-option *ngFor="let app of apps" [value]="app.value">
                {{app.viewValue}}
          </mat-option>
        </mat-select>
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="scheduleAppointment()">Schedule</button>
      </div>
    </form>
  </mat-step>

</mat-stepper>

<section>
  <button mat-raised-button class="button-position" (click)="scheduleAppointmentSystem()">Schedule appointment System</button>
</section>