<div class="main-container">
    <mat-toolbar color="primary" class="header">
      <mat-toolbar-row>
        <span>Medical Clinic</span>
        <span class="example-spacer"></span>
        <a href="integration">
          <button mat-raised-button>  Integration Page </button>
        </a>
        <a href="login">
            <button mat-raised-button>  Login </button>
        </a>
        <a href="register">
            <button mat-raised-button>  Sign up </button>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">Welcome!</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="panel panel-primary" style="padding-top: 30px; padding-left: 20px;">
    <div class="panel-heading">
        <h1> Feedbacks </h1>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Text</th>
                        <th>Patient</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let feedback of feedbacks">
                        <td>
                            {{feedback.textt}}
                        </td>
                        <td>
                            {{feedback.user}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>











