.list {
  display: block;
  margin-bottom: 30px;
}

.card {
  margin-top: 20px;

  &:first-child {
    margin-top: 0px;
  }
}

.win-block {
  margin-left: 22px;
  display: flex;
  align-items: center;
  padding-bottom: 12px !important;

  .text {
    font-size: 16px;
    margin-right: 20px;
    color: green;
  }
}

.button-group {
  display: flex;
  justify-content: right;

  &>button:not(:first-child) {
    margin-left: 15px;
  }
}


.card.closed {
  &.has-won {
    border: 1px solid green;
  }

  &:not(.has-won) {
    opacity: 0.5;
  }
}

.card.pending:not(.has-won) {
  opacity: 0.5;
}

.tender-status {
  font-size: 15px;
  opacity: 0.7;
  color: blue;

  &.closed {
    color: red;
  }
}