<mat-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Pick a date</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Pick a date</mat-label>
        <input [(ngModel)]="appointment.date" matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="firstCtrl" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="firstNext()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Pick the doctors branch of medicine you need">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Doctor branch</mat-label>
        <mat-select [(ngModel)]="specializationId" formControlName="secondCtrl">
          <mat-option *ngFor="let docBr of docBrs" [value]="docBr.specializationId">
                {{docBr.name}}
          </mat-option>
        </mat-select>
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious (click)="firstBack()">Back</button>
        <button mat-button matStepperNext (click)="secondNext()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" label="Pick the doctor">
    <form [formGroup]="thirdFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Doctor</mat-label>
        <mat-select [(ngModel)]="appointment.doctorId" formControlName="thirdCtrl">
          <mat-option *ngFor="let doctor of doctors" [value]="doctor.doctorId">
                {{doctor.name}} {{doctor.surname}}
          </mat-option>
        </mat-select>
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious (click)="secondBack()">Back</button>
        <button mat-button matStepperNext (click)="thirdNext()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup" label="Schedule your appointment">
    <form [formGroup]="fourthFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Appointment</mat-label>
        <mat-select [(ngModel)]="appointment.time" formControlName="fourthCtrl">
          <mat-option *ngFor="let app of apps" [value]="app">
                {{app}}
          </mat-option>
        </mat-select>
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious (click)="thirdBack()">Back</button>
        <button mat-button (click)="scheduleAppointment()">Schedule</button>
      </div>
    </form>
  </mat-step>

</mat-stepper>

<div class="align-right">
  <button mat-raised-button  (click)="scheduleAppointmentSystem()">Schedule recommended appointment</button>
</div>