<section class="form">
  <form [formGroup]="feedbackForm">
      
      <mat-form-field class="form-field" appearance="fill">
          <mat-label for="feedbackText">Leave feedback</mat-label>
          <textarea matInput placeholder="Share your opinions: 1-500 characters" id="feedbackText" formControlName="feedbackText"
          required minlength="1" [(ngModel)]="feedback.textt"></textarea>
      </mat-form-field>

      <div>
          <mat-checkbox class="example-margin" id="anonymity" formControlName="anonymity"
           matTooltip="Your profile won't be presented next to the feedback." matTooltipPosition="right"
           [(ngModel)]="feedback.anonymity"> Do you want to be anonymous? </mat-checkbox>
      </div>

      <div class="form-field">
          <mat-checkbox class="example-margin" id = "privatisation" formControlName = "privatisation"
           matTooltip="The manager won't be able to make the feedback public." matTooltipPosition="right"
           [(ngModel)]="feedback.privatisation"> Do you want your feedback to be private? </mat-checkbox>
      </div>

      <div class="button-group">
         <button mat-raised-button class="button-position"> Cancel </button>
         <button mat-raised-button disabled [disabled]="!feedbackForm.valid" id="submitButton" class="submit-button" (click)="createFeedback()"> Submit </button>
      </div>
  </form>
</section>